/* Скрытое меню по умолчанию */
.menu-hidden {
  display: none;
      position: fixed; /* Div будет "прилипать" к экрану */
    z-index: 99; Максимальное значение z-индекса
    top: 0; /* Опционально: разместить div в верхней части окна браузера */
    width: 100%;

}
.i{
    z-index: 999;
}
/* Открытое меню */
.menu-visible {
  display: block;
    position: fixed; /* Div будет "прилипать" к экрану */
    z-index: 99; Максимальное значение z-индекса
    top: 0; /* Опционально: разместить div в верхней части окна браузера */
    width: 100%;

}
.mobile-menu{
    display: none;

}
.hero-h1{
    margin-right: 40px;
}


#guide-intro,
#guide-history,
#guide-architecture,
#guide-objects,
#guide-tips {
  scroll-margin-top: 80px; /* высота смещения */
}

.about-photo-jovanni{
    width: 182px;
    height: 288px;
}

.map{
    height: 20%;
}

.routes-lergal{
    background-image: url(./images/лермонтовская-галерея.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -40px;
}
.routes-cvetnic{
    background-image: url(./images/цветник.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.routes-arfa{
        background-image: url(./images/арфа.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;

}



.lergal1{
    height: 315px;
}

